<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>106492763626-nuck0j18n0c6v8g1jlsb011es1b1e4hv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.106492763626-nuck0j18n0c6v8g1jlsb011es1b1e4hv</string>
	<key>API_KEY</key>
	<string>AIzaSyDYF4ynHVC10JRZyz3K6mzlbdMBhoF1y80</string>
	<key>GCM_SENDER_ID</key>
	<string>106492763626</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Masqurins.OOXX</string>
	<key>PROJECT_ID</key>
	<string>ooxx-66b12</string>
	<key>STORAGE_BUCKET</key>
	<string>ooxx-66b12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:106492763626:ios:23062e3ea128518d</string>
	<key>DATABASE_URL</key>
	<string>https://ooxx-66b12.firebaseio.com</string>
</dict>
</plist>